<h1>Search For A Command </h1>
<a href="/" style="margin-right:5px; text-decoration: none; color: #66ffcc">Home</a>
<a href="/command_line" style="margin-right:5px; text-decoration: none; color: #66ffcc">Commands</a>
<hr />
<form action="/command_search" method="POST">
	<input type="text" name="command_name" />
	<input type="submit" />
	
</form>