<h1>Command Results</h1>
<a href="/" style="margin-right:5px; text-decoration: none; color: #66ffcc">Home</a>
<a href="/command_line" style="margin-right:5px; text-decoration: none; color: #66ffcc">Commands</a>
<a href="/search" style="margin-right:5px; text-decoration: none; color: #66ffcc">Search</a>
<hr  />
<label><b>Command:</b></label>
<span><%= @command %></span>
<hr />
<label><h3>Description:</h3></label>
<!-- <br /> -->
<pp><%= @description %></pp>
